.city-item {
    color: inherit;
	position: relative;
    display: block;
    padding: 1rem 1.5rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 2rem 1rem;
    transition: all .6s;
}
.city-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: .4rem;
    border-bottom-left-radius: .4rem;
}
.city-item:hover {
	background-color: #28b485;
	color: #fff;
	transform: scale(1.03);
	box-shadow: 0 .2rem .4rem rgba(0,0,0,.3);
	z-index: 10;
}

.city-item__box-name {
    float: left;
}

.city-item__name {
    margin: 0;
}

.city-item__box-temp {
    float: right;
}